<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Hội đồng tuyển sinh đại học chính quy Trường Khoa học liên ngành và nghệ thuật - Đại học Quốc gia Hà Nội thông báo bạn đã đăng ký thành công tài khoản xét tuyển đại học năm 2024.</p>
   

  
</body>
</html>
