<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>Thân gửi {{ name }},</p>
    <p>Số điện thoại: {{sdt}}</p>
    <p>Liên đoàn lao động tỉnh Bắc Ninh <a hreft="https://cdhy.com.vn/">https://cdhy.com.vn/</a>. Mã kích hoạt tài khoản của bạn là <strong>{{ code }}</strong></p>

  
</body>
</html>

